<% include partials/header %>

<form class="box container" id="form" action="/receipts/confirm" method="POST">
    <div id="test">
        <p>Test</p>
    </div>
    <div class="field">
        <label class="label">Receipt Number</label>
        <div class="control">
            <input class="input" name="receipt[receiptNumber]" type="text" placeholder="">
        </div>
    </div>
    <div class="field">
        <label class="label">First Name:</label>
        <div class="control">
            <input class="input" name="receipt[firstName]" type="text" placeholder="First Name">
        </div>
    </div>
    <div class="field">
        <label class="label">Last Name:</label>
        <div class="control">
            <input class="input" type="text" name="receipt[lastName]" placeholder="Last Name">
        </div>
    </div>
    <div class="field">
        <label class="label">Phone Number:</label>
        <div class="control">
            <input class="input" type="text" name="receipt[phone]" placeholder="5089915421">
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item1 Name:</label>
            <div class="control">
                <input class="input itemInput" id="item1Name" type="text" name="receipt[item1][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item1 Price:</label>
            <div class="control">
                <input class="input priceInput" id="item1Price" type="text" name="receipt[item1][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item2 Name:</label>
            <div class="control">
                <input class="input itemInput" type="text" name="receipt[item2][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item2 Price:</label>
            <div class="control">
                <input class="input priceInput" type="text" name="receipt[item2][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item3 Name:</label>
            <div class="control">
                <input class="input itemInput" type="text" name="receipt[item3][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item3 Price:</label>
            <div class="control">
                <input class="input priceInput" type="text" name="receipt[item3][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item4 Name:</label>
            <div class="control">
                <input class="input itemInput" type="text" name="receipt[item4][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item4 Price:</label>
            <div class="control">
                <input class="input priceInput" type="text" name="receipt[item4][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item5 Name:</label>
            <div class="control">
                <input class="input itemInput" type="text" name="receipt[item5][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item5 Price:</label>
            <div class="control">
                <input class="input priceInput" type="text" name="receipt[item5][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item6 Name:</label>
            <div class="control">
                <input class="input itemInput" type="text" name="receipt[item6][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item6 Price:</label>
            <div class="control">
                <input class="input priceInput" type="text" name="receipt[item6][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item7 Name:</label>
            <div class="control">
                <input class="input itemInput" type="text" name="receipt[item7][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item7 Price:</label>
            <div class="control">
                <input class="input priceInput" type="text" name="receipt[item7][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item8 Name:</label>
            <div class="control">
                <input class="input itemInput" type="text" name="receipt[item8][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item8 Price:</label>
            <div class="control">
                <input class="input priceInput" type="text" name="receipt[item8][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item9 Name:</label>
            <div class="control">
                <input class="input itemInput" type="text" name="receipt[item9][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item9 Price:</label>
            <div class="control">
                <input class="input priceInput" type="text" name="receipt[item9][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="item">
        <div class="field">
            <label class="label">Item10 Name:</label>
            <div class="control">
                <input class="input itemInput" type="text" name="receipt[item10][name]" placeholder="Item Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Item10 Price:</label>
            <div class="control">
                <input class="input priceInput" type="text" name="receipt[item10][price]" placeholder="ex. 65.00">
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Notes:</label>
        <div class="control">
            <textarea class="input" type="text" name="receipt[notes]" placeholder="Purchase Notes"></textarea>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="button is-success" type="submit">
        </div>
    </div>
    <script> 
        document.addEventListener("DOMContentLoaded", function() {
            let inputArr = [];
            let priceArr = [];
    
            const myForm = document.querySelector("#form");
            const itemInputs = document.getElementsByClassName("itemInput");
            const priceInputs = document.getElementsByClassName("priceInput");

            console.log(itemInputs);
            console.log(priceInputs);

            //Push form inputs into an array of item and price.
            for (let i = 0; i < itemInputs.length; i++) {
                inputArr.push(itemInputs[i]);
            }

            for (let i = 0; i < priceInputs.length; i++) {
                priceArr.push(priceInputs[i]);
            }
            
            console.log(inputArr);
            console.log(priceArr);

            //iterate over our form input arrays and validate that each name has a price and vice versa.
            function checkField() {
                for (let i = 0; i < inputArr.length; i++) {
                    if (inputArr[i].value.length > 0 && priceArr[i].value.length === 0) {
                        priceArr[i].setCustomValidity("Item must have a price!");
                        priceArr[i].style.borderColor = "red";
                    }
                    else if (inputArr[i].value.length === 0 && priceArr[i].value.length > 0) {
                        inputArr[i].setCustomValidity("Item must have a name!")
                        inputArr[i].style.borderColor = "red";
                    }
                    else {
                        inputArr[i].setCustomValidity("");
                        priceArr[i].setCustomValidity("");
                        inputArr[i].style.borderColor = "black";
                        priceArr[i].style.borderColor = "black";
                    }
                } 
            }
            
            for (let i = 0; i < inputArr.length; i++) {
                inputArr[i].addEventListener("input", () => {
                    checkField();
                })
            }

            for (let i = 0; i < priceArr.length; i++) {
                priceArr[i].addEventListener("input", () => {
                    checkField();
                })
            }
        });
     </script>
</form>

<% include partials/footer %>